nav {
    background-color: #2d4349;
    color: #f6f4d2;
}

.navbar-light {
    color: #f6f4d2;
}

.navbar-brand {
    color: #f6f4d2;
    font-family: 'Comfortaa', cursive;

}

h2 {
    color: #f6f4d2;
    line-height: 0;
    margin-top: 10%;
    
}

.navbar-nav {
    color: #f6f4d2;
}

.nav-link {
    font-family: 'Comfortaa', cursive;
    color: #f6f4d2 !important;
}

.active{
    color: #a44a3f !important;
}

.NavBar-logout {
    background-color: #2d4349;
    border: none;
    color: #f6f4d2;
    font-family: 'Comfortaa', cursive;
}